 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;1,400;1,600&display=swap');


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Playfair Display', serif;
 }

 body {
     background: #bbc6fa;
 }

 .quote-Box {
   
     background: white;
     width: 700px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     padding: 40px;
     border-radius: 10px;
     text-align: center;
     box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
 }

 .quote-Box h2{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
 }

 .quote-Box h2::after{
    content: '';
    width: 75px;
    height: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
 }
 .quote-Box blockquote{
    font-size: 26px;
    min-height: 110px;

 }

 .quote-Box blockquote::after, .quote-Box blockquote::before{
    content: '"';

 }
 .quote-Box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;

 }
 .quote-Box span::before{
    content: "";
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
 }
 .quote-Box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
 }
 .quote-Box button{
    background-color: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23, 124, 229);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;

 }
 .quote-Box button img{
    width: 20px;
    margin-right: 10px;

 }
 .quote-Box button:nth-child(2){
    background : transparent;
    color: #333;
    
 }

 /*-----save button ----*/
.button-7 {

  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}

/*--------clear button-------*/
ul > li{
   padding: 0.5rem;
   list-style: none;
   margin: 10px;
   border: 1px solid #0064bd;
   border-radius: 1rem;
}

li:hover{
   box-shadow: 1px 1px 1px 1px #0064bd;
}
.clear{
   margin-top: 10px;
   padding: 0.4rem;
   border-radius: 5%;
   cursor: pointer;
}
.clear:hover{
   box-shadow: 4px 4px grey;
}
